.field {
  padding: 5px 0;
}

fieldset {
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px 10px;
}

fieldset .field {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 10px;
}

.field input {
  border: 0;
  text-align: center;
}

.quantity-update {
  background: #f88c34;
  color: white;
  border-radius: 5px;
  border: 0;
}
