.field {
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.field.text {
  display: flex;
  flex-direction: column;
}

.checkbox > input {
  order: -1;
}

input[type="checkbox" i] {
  margin: 0;
}

fieldset .field {
  justify-content: space-between;
}

.field:not(.text) input {
  border: 0;
  text-align: center;
}

.quantity-update {
  background: #f88c34;
  color: white;
  border-radius: 5px;
  border: 0;
}
