.container {
  // width: 405px;
  grid-column: 1/2;
  box-sizing: border-box;
  border-right: 1px solid black;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  font-size: 50px;
  font-weight: lighter;
  border: 1px solid black;
  border-radius: 70px;
  padding: 30px 20px;
  text-transform: uppercase;
  background-color: transparent;
  margin-bottom: 1rem;
  margin-right: 20px;
  width: 100%;
  cursor: pointer;
}
