@import "_budget";
@import "_form";
@import "_header";
@import "_home";
@import "_overlay";
@import "_representation";
@import "_variables";
@import "_components";

:root {
  --main-color: orange;
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 200;
  src: url("../fonts/Inter-ExtraLight.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  font-weight: 100;
  src: url("../fonts/Inter-Thin.ttf") format("truetype");
}

html * {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background-color: #e3e3e3;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: 400;
}

h3 {
  font-weight: 300;
}

p {
  margin: 0;
}

#root {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.icon {
  cursor: pointer;
}

main {
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  display: grid;
  grid-template-columns: 405px 1fr;
  grid-template-rows: 1fr;
}

*:focus-visible {
  outline: 1px solid #e5c992;
  // Not accessible
  outline: none;
}
