@import "_form";
@import "_header";
@import "_home";
@import "_overlay";
@import "_variables";
@import "_components";

body {
  margin: 0;
  font-family: serif;
}

h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 1.6;
  font-weight: bolder;
  color: hsl(300, 100%, 25%);
}

h3 {
  font-weight: 300;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.border {
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px 10px;
}
