@import "_form";
@import "_header";
@import "_home";
@import "_variables";
@import "_components";

body {
  margin: 0;
  font-family: serif;
}

h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 1.6;
  font-weight: bolder;
}

h3 {
  font-weight: 300;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
